@tailwind base;
@tailwind components;
@tailwind utilities;

.sound-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soundscapes-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.soundscapes-container select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.soundscapes-container button {
  background: none;
  border: none;
  cursor: pointer;
}
.soundscapes-container button svg {
  width: 1.5rem;
  height: 1.5rem;
}
